@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.root {
    margin: 0 auto;
    max-width: 48em;
}

img {
    width: min(50%, 24em);
}

.c-main__after-start .c-keyboard,
.c-main__after-start .c-attempt {
    user-select: none;
    pointer-events: none;
}

.c-screen__box-zone {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.c-screen__box-zone div {
    height: 50%;
    width: 100%;
}

.c-screen__button {
    background-color: #21dd31;
    border: none;
    border-radius: 0.5em;
    height: 3em;
    width: 14em;
}

.c-screen__button:active {
    background-color: #25d133;
}

.c-screen__word {
    flex-wrap: wrap;
}

.c-screen__word li {
    font-size: clamp(1em, 10vw, 1.5em);
    font-weight: 500;
    margin: 0.2625em;
}





.c-keyboard {
    height: 6em;
    margin: 1em 0;
    width: 100%;
}

.c-keyboard__key {
    height: 7em;
    flex-wrap: wrap;
    width: 100%;

}

.c-keyboard__key li {
    background-color: #62e1fd;
    border: 0.0625em solid #12c5ed;
    border-radius: 0.2em;
    height: 3em;
    margin: 0.2625em;
    width: 3em;

    user-select: none;
}

.c-keyboard__key li:active {
    border: 0.0625em solid #06809b;
}





.c-attempt {
    height: 3em;
}

.c-attempt__form {
    flex-wrap: wrap;
    width: 100%;
}

.c-attempt__form * {
    margin: 0 0.5em;
}

.c-attempt__form input[type="submit"] {
    border-radius: 0.2em;
    border: none;
    background-color: #9a9a9a;
    height: 1.5em;
}

.c-attempt__form input[type="text"]:focus-visible {
    outline: 0px;
}


.c-keyboard__key .u-block {
    color: #FFFFFF;
    background-color: #084856;
    border-color: #042127;
    pointer-events: none;
}

.c-screen__word .u-win-game {
    color: #25d133
}

.c-screen__word .u-lose-game {
    color: #d12525
}

.u-display-flex {
    display: flex;
}

.u-all-center {
    align-items: center;
    justify-content: center;
}





@media (max-width:736px) {

    .c-keyboard, .c-keyboard__key {
        height: 10em;
    }

    @media (max-width:515px) {

        .c-keyboard, .c-keyboard__key {
            height: 14em;
        }

        .c-screen__button {
            width: 8em;
        }

        @media (max-width:398px) {

            .c-keyboard, .c-keyboard__key {
                height: 18em;
            }

            @media (max-width:286px) {
                .c-keyboard, .c-keyboard__key {
                    height: 22em;
                }
            }
        }
    }
}